body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.input-form {
    flex-grow: 2;
    background-color: teal;
}

.output-form {
    flex-grow: 2;
    background-color: red;
}

.convert-btn {
    flex-grow: 1;
    background-color: springgreen;
}